<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-md-4">
      <form [formGroup]="regForm" (ngSubmit)="onRegister()" class="mt-5">
        <fieldset>
          <legend>Register</legend>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email" id="email">
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name" id="name">
          </div>
          <div class="mb-3">
            <label for="surname" class="form-label">Surname</label>
            <input type="text" class="form-control" formControlName="surname" id="surname">
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" formControlName="username" id="username">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" id="password">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!regForm.valid">Register</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
